.header {
	color: black;
	text-align: center;
	border-bottom: solid 3px black;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.head {
	color: black;
	text-align: center;
	padding: 32px;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.title {
	padding-left: 32px;
}

.logo {
	width: 20%;
}